body{
    text-align:center;
    background-color:#EBF3E8;
}

#titulo{
    text-align:center;
    color:#B2C8BA;
    font-size:50px;
    background-color:#D2E3C8;
}

.texto{
    text-align:center;
    color:#86A789;
    font-size:30px;
    
}

.simple-highlight{
    color: white;
    background-color: brown;
    padding: 0.1em 0.2em;
}

.paragrafo1{
    background-image: linear-gradient(#A9B388, #A9ff88);

}

header{
    padding: 20px;
    background-color: #3c0142;
    border-bottom: 2px solid white;
    font-size: 32px;
    color: white;
}