body{
    text-align:center;
}

#titulo{
    text-align:center;
    color:red;
    font-size:30px;
}

.texto{
    text-align:center;
    color:86A789;
    font-size:20px;
    background-color:B2C8BA;
}