body{
    text-align:center;
    background-color:#B2C8BA;
}

#titulo{
    text-align:center;
    color:red;
    font-size:50px;
}

.texto{
    text-align:center;
    color:#86A789;
    font-size:30px;
    
}